.WidthHeightE, .modal-background1, .modal-background2, .modal-background3 {
  height: 50px;
  width: 250px;
}

.modal-background1 {
  background: blue;
  opacity: 1;
}

.modal-background2 {
  background: red;
  opacity: 0.9;
}

.modal-background3 {
  background: yellow;
  opacity: 0.91;
}
