@import "SubFiles/variables";
@import "SubFiles/mixings";
 @import "SubFiles/extends";

 .modal-background1 {
   //@include WidthHeight();
  @extend .WidthHeightE;
  background: blue;
  opacity: 1;
}



.modal-background2 {
  //@include WidthHeight();
    @extend .WidthHeightE;
  background: red;
  opacity: 0.9;
}

  
.modal-background3 {
  // @include WidthHeight();
   @extend .WidthHeightE;
  background: yellow;
  opacity: 0.91;
}

 